---
title: Hacking User Ranking
layout: /default.slim
---

table.ui.selectable.red.large.table.right.aligned [id="hacker-ranking"
  class="tablesorter"]
  ruby:
    users, totals = hackers_ranking_hack
    content_for :table_total_msg, totals['sltns'].to_s +
      ' total solved challenges'
  thead
    tr

      th.one.wide class="sorter-false"
        center
          | Position
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Position in ranking based on Unique solutions and
          Unique solutions percentage" ]
            i class="question circle outline icon"

      th
        center
          | Username
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Hacker's username" ]
            i class="question circle outline icon"

      th
        center
          | Solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of challenges solved by the hacker" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of solutions with no external solutions" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions percentage
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Unique solutions compared to all solutions" ]
            i class="question circle outline icon"

      th
        center
          | Websites
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of challenge sites with at least one solution \
          from the hacker" ]
            i class="question circle outline icon"

  tbody
    - users.each_key do |key|
      tr
        td.one.wide
          center -
        td
          center
            a href="../hackers/#{key}" #{key}
        td
          center #{users[key]['sltns']}
        td
          center #{users[key]['unique-sltns']}
        - if users[key]['unique-sltns-prcntg'].to_f >= 80
          td class="positive"
            center #{users[key]['unique-sltns-prcntg']}%
        - elsif users[key]['unique-sltns-prcntg'].to_f >= 60
          td class="warning"
            center #{users[key]['unique-sltns-prcntg']}%
        -else
          td class="negative"
            center #{users[key]['unique-sltns-prcntg']}%
        td
          center #{users[key]['npages']}
  tfoot
    tr
      th.one.wide
        center Totals
      th
        center -
      th
        center #{totals['sltns']}
      th
        center #{totals['unique-sltns']}
      th
        center -
      th
        center #{totals['npages']}
