---
title: Language Ranking
layout: /default.slim
---

css:
  ul {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
  }

table.ui.selectable.red.large.table.right.aligned [id="language-ranking"
  class="tablesorter"]
  ruby:
    info_lang, totals_lang = langs_table
    content_for :table_total_msg, totals_lang['sltns'].to_s +
      ' total solutions'
  thead
    tr

      th.one.wide class="sorter-false"
        center
          | Position
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Position in ranking based on Solutions
          and Internal solutions" ]
            i class="question circle outline icon"

      th
        center
          | Language
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Name of the programming language" ]
            i class="question circle outline icon"

      th
        center
          | Solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of internal and external solutions" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Solutions associated to challenges that do
            not have external solutions
            in the same language" ]
            i class="question circle outline icon"

      th
        center
          | Internal solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Solutions made in the language" ]
            i class="question circle outline icon"

      th
        center
          | External solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="External solutions referenced in others.lst" ]
            i class="question circle outline icon"

  tbody
    - info_lang.each_key do |key|
      - unless info_lang[key]['sltns'].zero?
          tr
            td.one.wide
              center -
            td
              center
                a href="#{info_lang[key]['url']}" target="_blank" #{key}
            td
              center #{info_lang[key]['sltns']}
            td
              center #{info_lang[key]['unique-sltns']}
            td
              center #{info_lang[key]['int-sltns']}
            td
              center #{info_lang[key]['ext-sltns']}

  tfoot
    tr
      th.one.wide
        center Totals
      th
        center -
      - totals_lang.each_key do |key|
        th
          center #{totals_lang[key]}

h2 We have not found any solutions for the following supported languages:
h4
  ul
    - info_lang.each_key do |key|
      - if info_lang[key]['sltns'].zero?
        li
          a href="#{info_lang[key]['url']}" target="_blank" #{key}
