---
title: General Sites Ranking
layout: /default.slim
---

table.ui.selectable.red.large.table.right.aligned [id="sites-ranking"
  class="tablesorter"]
  ruby:
    code_sites, code_totals = sites_ranking_code
    hack_sites, hack_totals = sites_ranking_hack
    general_sites = add_hashes(code_sites, hack_sites)
    general_totals = add_totals(code_totals, hack_totals)
    tot = general_totals['total-internal-sltns'] +
      general_totals['total-external-sltns']
    content_for :table_total_msg, tot.to_s + ' total solutions'
  thead
    tr

      th.one.wide class="sorter-false"
        center
          | Position
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Position in ranking based on Pending challenges and
          External solutions per challenge" ]
            i class="question circle outline icon"

      th
        center
          | Site
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Name and link to the site" ]
            i class="question circle outline icon"

      th
        center
          | Challenges
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of challenges offered by the site" ]
            i class="question circle outline icon"

      th
        center
          | Pending challenges
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
            data-tooltip="Challenges with no internal solution"
          ]
            i class="question circle outline icon"

      th
        center
          | With internal solution
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Challenges with at least one internal solution" ]
            i class="question circle outline icon"

      th
        center
          | With external solution
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Challenges with at least one external solution" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of internal solutions to challenges with
          no external solutions" ]
            i class="question circle outline icon"

      th
        center
          | Internal solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of internal solutions for the site" ]
            i class="question circle outline icon"

      th
        center
          | External solutions per challenge
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Average of external solutions per challenge" ]
            i class="question circle outline icon"
  tbody
    - general_sites.each_key do |key|
      tr
        td.one.wide
          center -
        td
          center
            a href="#{general_sites[key]['url']}"
              | #{general_sites[key]['official-name']}
        td
          center #{general_sites[key]['challenges']}
        td
          center #{general_sites[key]['pending-chgs']}
        td
          center #{general_sites[key]['internal-chgs']}
        td
          center #{general_sites[key]['external-chgs']}
        td
          center #{general_sites[key]['unique-sltns']}
        td
          center #{general_sites[key]['total-internal-sltns']}
        td
          center #{general_sites[key]['ext-sltns-per-chg']}
  tfoot
    tr
      th
        center Totals
      th.one.wide
        center -
      th
        center #{general_totals['potential-chgs']}
      th
        center #{general_totals['pending-chgs']}
      th
        center #{general_totals['internal-chgs']}
      th
        center #{general_totals['external-chgs']}
      th
        center #{general_totals['unique-sltns']}
      th
        center #{general_totals['total-internal-sltns']}
      th
        center -
