doctype html
html
  head
    title #{@item[:title]}
    meta content='template language' name='keywords'
    link[
      rel="shortcut icon"
      type="image/x-icon"
      href="https://fluidattacks.com/web/es/theme/images/favicon.png"
      sizes="16x16"
    ]
    - url = 'https://cdnjs.cloudflare.com/ajax/libs'
    - url_tsorter = "#{url}/jquery.tablesorter/2.31.1/js"
    script src="#{url}/jquery/3.3.1/jquery.min.js"
    script src="#{url_tsorter}/jquery.tablesorter.js"
    script src="#{url_tsorter}/jquery.tablesorter.widgets.js"
    script src="#{url}/semantic-ui/2.4.1/semantic.min.js"
    link[
      href="#{url}/semantic-ui/2.4.1/semantic.min.css"
      rel="stylesheet"
      type="text/css"
    ]
    javascript:
      var set_rankings_ran = false
      $(function() {
        $.tablesorter.addWidget({
          id: "setRankings",
          format: function(table) {
            if (!set_rankings_ran){
              for(var i=0; i < table.tBodies[0].rows.length; i++) {
                pos = i + 1
                pos_text = "<center>" + pos + "</center>"
                $("tbody tr:eq(" + i + ") td:first",table).html(pos_text);
              }
              set_rankings_ran = true
            }
          }
        });

        $("#sites-ranking").tablesorter({
          sortList: [[3,1],[8,0]],
          widgets: ['zebra','setRankings']
        });
        $("#hacker-ranking").tablesorter({
          sortList: [[4,1],[3,1]],
          widgets: ['zebra','setRankings']
        });
        $("#language-ranking").tablesorter({
          sortList: [[2,0],[4,0]],
          widgets: ['zebra','setRankings']
        });
        $("#hacker-pages-t1").tablesorter({
          sortList: [[3,1],[2,1]],
          widgets: ['zebra']
        });
        $("#hacker-pages-t2").tablesorter({
          sortList: [[3,1],[2,1]],
          widgets: ['zebra']
        });
        $("#hacker-pages-t3").tablesorter({
          sortList: [[3,1],[2,1]],
          widgets: ['zebra']
        });
      });

  body
    .ui.padded.stackable.grid.equal.width

      .sixteen.wide.black.column
        .ui.segment.inverted
          - img = 'https://fluidattacks.com/web/es/theme/images/logo-menu.svg'
          a href="https://fluidattacks.com/" target="_blank"
            img.ui.left.floated.image src="#{img}"

          .ui.small.right.floated.statistic.inverted
            .label #{@item[:title]}
            .label #{content_for(@item, :table_total_msg)}

      .two.wide.stretched.column
        .ui.fluid.vertical.large.tabular.menu
          a.item href="https://fluidattacks.gitlab.io/writeups/" Writeups Stats
          a.item href="/training/hacker-ranking-general" General User Ranking
          a.item href="/training/hacker-ranking-hack" Hacking User Ranking
          a.item href="/training/hacker-ranking-code" Coding User Ranking
          a.item href="/training/sites-ranking-general" General Sites Ranking
          a.item href="/training/sites-ranking-hack" Hacking Sites Ranking
          a.item href="/training/sites-ranking-code" Coding Sites Ranking
          a.item href="/training" Language Ranking
          a.item href="/training/gitstats" target="_blank" Training Git Stats
          a.item [href="/training/gitinspector"
            target="_blank"] Training Git Inspector

      .twelve.wide.column
        == yield
    == render '/default-footer.slim'
