css:
  .ui.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-color: #1b1c1d;
    text-align: center;
    color: white;
  }
  .clear { clear: both; height: 50px; }

.clear
.ui.footer.segment
  p Fluid Attacks - All rights reserved
