table.ui.selectable.red.large.table.right.aligned [id="hacker-pages-t1"
  class="tablesorter"]
  thead
    tr

      th
        center
          | Challenge type
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Code challenge or Hack challenge" ]
            i class="question circle outline icon"

      th
        center
          | Solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of challenges solved by the hacker" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions percentage
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i class="question circle outline icon"

      th
        center
          | Average solutions per hour
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Average solutions per hour" ]
            i class="question circle outline icon"

      th
        center
          | Fluid Score
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Code solutions avg * 0.5 + Hack solutions avg * 0.7" ]
            i class="question circle outline icon"

      th
        center
          | First Commit
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="User's first accepted commit" ]
            i class="question circle outline icon"

      th
        center
          | Last Commit
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="User's last accepted commit" ]
            i class="question circle outline icon"

      th
        center
          | Websites
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of challenge sites with at least one solution \
          from the hacker" ]
            i class="question circle outline icon"

  tbody
    - @item[:itemst1].each_value do |stat|
      - next if stat[:name] == 'Total'
      tr
        td
          center #{stat[:name]}
        td
          center #{stat[:sltns]}
        td
          center #{stat[:'unique-sltns']}
        - if stat[:'unique-sltns-prcntg'].to_f >= 80
          td class="positive"
            center #{stat[:'unique-sltns-prcntg']}%
        - elsif stat[:'unique-sltns-prcntg'].to_f >= 60
          td class="warning"
            center #{stat[:'unique-sltns-prcntg']}%
        - else
          td class="negative"
            center #{stat[:'unique-sltns-prcntg']}%
        td
          center #{stat[:avg]}
        td
          center #{stat[:score]}
        td
          center #{stat[:first_sltn_date]}
        td
          center #{stat[:last_sltn_date]}
        td
          center #{stat[:npages]}

  tfoot
    - totals = @item[:itemst1][:general_users]
    tr
      td
        center #{totals[:name]}
      td
        center #{totals[:sltns]}
      td
        center #{totals[:'unique-sltns']}
      - if totals[:'unique-sltns-prcntg'].to_f >= 80
        td class="positive"
          center #{totals[:'unique-sltns-prcntg']}%
      - elsif totals[:'unique-sltns-prcntg'].to_f >= 60
        td class="warning"
          center #{totals[:'unique-sltns-prcntg']}%
      - else
        td class="negative"
          center #{totals[:'unique-sltns-prcntg']}%
      td
        center #{totals[:avg]}
      td
        center #{totals[:score]}
      td
        center #{totals[:first_sltn_date]}
      td
        center #{totals[:last_sltn_date]}
      td
        center #{totals[:npages]}

br

table.ui.selectable.red.large.table.right.aligned [id="hacker-pages-t2"
  class="tablesorter"]
  thead
    tr

      th
        center
          | Language
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Programming language used" ]
            i class="question circle outline icon"

      th
        center
          | Solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of challenges solved by the hacker" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions percentage
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i class="question circle outline icon"

  tbody
    - @item[:itemst2][:general_users].each do |lang, stat|
      tr
        td
          center
            a href="#{stat[:url]}" target="_blank" #{lang}
        td
          center #{stat[:sltns]}
        td
          center #{stat[:'unique-sltns']}
        - if stat[:'unique-sltns-prcntg'].to_f >= 80
          td class="positive"
            center #{stat[:'unique-sltns-prcntg']}%
        - elsif stat[:'unique-sltns-prcntg'].to_f >= 60
          td class="warning"
            center #{stat[:'unique-sltns-prcntg']}%
        - else
          td class="negative"
            center #{stat[:'unique-sltns-prcntg']}%
  tfoot
    - totals = @item[:itemst2][:general_totals]
    tr
      td
        center Total
      td
        center #{totals[:sltns]}
      td
        center #{totals[:'unique-sltns']}
      - if totals[:'unique-sltns-prcntg'].to_f >= 80
        td class="positive"
          center #{totals[:'unique-sltns-prcntg']}%
      - elsif totals[:'unique-sltns-prcntg'].to_f >= 60
        td class="warning"
          center #{totals[:'unique-sltns-prcntg']}%
      - else
        td class="negative"
          center #{totals[:'unique-sltns-prcntg']}%

br

table.ui.selectable.red.large.table.right.aligned [id="hacker-pages-t3"
  class="tablesorter"]
  thead
    tr

      th
        center
          | Site
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Name and link to the site" ]
            i class="question circle outline icon"

      th
        center
          | Solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of challenges solved by the hacker" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Number of sltns with no external sltns" ]
            i class="question circle outline icon"

      th
        center
          | Unique solutions percentage
          '
          br
          div[ class="mini basic ui icon button" data-position="bottom center"
          data-tooltip="Unique sltns compared to all sltns" ]
            i class="question circle outline icon"

  tbody
    - @item[:itemst3][:general_users].each_value do |stat|
      tr
        td
          center
            a href="#{stat[:url]}" target="_blank" #{stat[:'official-name']}
        td
          center #{stat[:sltns]}
        td
          center #{stat[:'unique-sltns']}
        - if stat[:'unique-sltns-prcntg'].to_f >= 80
          td class="positive"
            center #{stat[:'unique-sltns-prcntg']}%
        - elsif stat[:'unique-sltns-prcntg'].to_f >= 60
          td class="warning"
            center #{stat[:'unique-sltns-prcntg']}%
        - else
          td class="negative"
            center #{stat[:'unique-sltns-prcntg']}%
  tfoot
    - totals = @item[:itemst3][:general_totals]
    tr
      td
        center Total
      td
        center #{totals[:sltns]}
      td
        center #{totals[:'unique-sltns']}
      - if totals[:'unique-sltns-prcntg'].to_f >= 80
        td class="positive"
          center #{totals[:'unique-sltns-prcntg']}%
      - elsif totals[:'unique-sltns-prcntg'].to_f >= 60
        td class="warning"
          center #{totals[:'unique-sltns-prcntg']}%
      - else
        td class="negative"
          center #{totals[:'unique-sltns-prcntg']}%
